.container-profile {
  display: flex;
  flex-direction: column;
}

.container-profile h1 {
  align-self: self-start;
  margin: 0 0 1% 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

