
.container-rocket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;

}

.container-rocket h2 {
  font-size: 1.5rem;
  font-weight: 700;


  color:#000;
}

.container-rocket p {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0;
}

.container-rocket .img-rocket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 10%;
}

.container-rocket .img-rocket img {
 
  margin: 7%;
}
